#slider{
	width: 720px;
	height: 450px;
	overflow: hidden;
}
#slider .slides{
	display: block;
	width: 6000px;
	height: 450px;
	height: 0;
	padding: 0;

}
#slider .slide{
	float: left;
	list-style-type: none;
	width: 720px;
	height: 450px;
}

#prev{
	height: 120px;
	width: 120px;
	position: absolute;
	bottom: 170px;
	left: 0;
	margin: 0;
	cursor: pointer;
}
#next{

	height: 120px;
	width: 120px;
	position: absolute;
	margin: 0;
	bottom: 170px;
	right: 0px;
	text-align: right;
	cursor: pointer;
}
.container{

	position: relative;
	width: 720px;
	background: white;

}
.pause{
	margin: 0;
	text-align: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	background-color: #EFF5FB;
	color: green;
	top: 0;
	right: 0;
	cursor: pointer;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.play{

	margin: 0;
	text-align: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	right: 40px;
	background-color: #EFF5FB;
	color: green;
	cursor: pointer;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	display: none;
}
.content{
	position: relative;
	bottom: -400px;
	background-color: #D8F781;
	opacity: .8;
}





.slide1 {background: url('images/s1.jpg');}
.slide2 {background: url('images/s2.jpg');}
.slide3 {background: url('images/s3.jpg');}
.slide4 {background: url('images/s4.jpg');}
.slide5 {background: url('images/s5.jpg');}